<div class="plugins-browser">
    <div class="container-1">
        <div class="container-1-1"
            [ngStyle]="{'width': !(plugin$ | async) ? '100%' : 'calc(50% + 2px)'}">
            <app-user-header></app-user-header>
            <input class="large"
                type="text"
                placeholder="Search plugin"
                [(ngModel)]="searchText"
                (input)="searchPlugin()">
            <div class="container-1-1-1">
                <div *ngFor="let plugin of sortedPlugins">
                    <app-plugin-card
                        (plugingEvent)="toggleInfo($event)"
                        [plugin]="plugin">
                    </app-plugin-card>
                </div>
            </div>
        </div>
        <div class="container-1-2"
            *ngIf="plugin$ | async">
            <app-plugin-info [plugin]="plugin$.value"></app-plugin-info>
        </div>
    </div>
</div>

