.container-1-2 {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5px;
    top: 0px;
    right: 8px;
    border-radius: 10px;

    svg {
        width: 52px;
        height: 52px;
        rect {
            fill: #D9D9D9;
            &:active {
                fill: #EBEBEB;
            }
            stroke-dasharray:  0 150;
            stroke-dashoffset: -76;
            stroke-width: 2px;
            transition: stroke-dashoffset var(--animation-duration), stroke-dasharray var(--animation-duration);
            &:hover {
                stroke-width: 2px;
                stroke-dashoffset: -15;
                stroke-dasharray: 120 0;
            }
        }            
    }    
    svg:nth-child(1) {
        rect {
            &:hover {
                stroke: var(--blue);
            }
        }
    }    
    svg:nth-child(2) {
        rect {
            &:hover {
                stroke: var(--red);
            }
        }
    }   
}